/* Estilos definidos */
h1{
    color: #377ba8;
    background-color: lightgray;
    text-align: center;
    font-family: serif;
}

h2{
    color: #377ba8;
    background-color: lightgray;
    text-align: left;
    font-family: Arial;
}

form{
    width: 350px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: #ccc;
}

form input{
    padding: 3px 10px;
    height:20px;
    border-radius: 3px;
    margin:0;
    display: inline-block;
    text-align: left;
    direction: ltr;
}



#div123{
    background-color: blue;
    float: left;
}

#div456{
    background-color: red;
    float: left;
}

#div789{
    background-color:green;
}

.userIcon{
    position:absolute;
    bottom:2px;
    right:5px;
    width:24px;
    height:15px;
}

.error{
    color: #D8000C;
    background-color: #FFBABA;
}

.input_container{
    position:relative;
    padding:0 0 0 20px;
    margin:0 20px;
  
    direction: rtl;
    width: 200px;
}

.mensaje{
    border-radius: 5px;
    background-color: #b8a9aa;
}

/*  */
.boton{
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    display: block;
}

.foto, .video {
    background-color: rgb(48, 138, 13);
    width: 100%;
    padding: 1px;
}

.publicacion {
    background-color:#081191;
    padding: 5px;
    margin-top: 50px;
}

/* Fin de Estilos    */