<!--Pagina 1: Inicio -->


<!DOCTYPE html>
<html>
    <head>
      <script src="{{ url_for('static', filename='js/funciones.js') }}"></script>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo01.css') }}" />
      <title>Plataforma de gestón de empleados</title>      
    </head>
    
    <body>
      <h1>Plataforma de gestón de empleados</h1> 
      <h2>Empleados y administrativos de la empresa Bachoco</h2> 
         
    </body>
</html>

<!-- FIN 
sub titulo 
Empleados y administrativos de la empresa Bachoco

Ingrese sus credenciales en el siguiente enlace

boton de 
Login
-->