<!DOCTYPE html>

<html lang='es'>

   <head>
      <meta charset="utf-8"/>    
      <title> pagina de empleados </title>
      <link rel="stylesheet" type="text/css" href='../static/css/bootstrap.min.css' />
      <script type="text/javascript" src='../static/js/bootstrap.min.js'></script>
   </head>
   <body style="background: url('../static/img/CentroEmpresarial.jpg'); background-size: cover;">
      <div class="container text-warning">
         <img src="../static/img/UsersIcon.png" class="rounded float-end" > 
         <h1 class="display-4">Alian Florez Vertel</h1>
      </div>
      {% block cuerpo %}{% endblock %}
    </div>
   </body>

</html>